.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 98%;
  }
  
  .strikethrough{
    text-decoration:line-through;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description{
  justify-content: space-between;
  align-items: center;
}

.mat-icon{
  color: grey;
}

.mat-form-field {
  margin-right: 12px;
}

.checkbox-styles{
  margin: 0 auto;
  top: 20px;
  height: 20px;
  width: 15px;
}
