<nav class="navbar navbar-expand-lg navbar-dark " style="margin-bottom:2%;background-color: #3B53B9">
  <mat-icon style="color:white">check_box</mat-icon>
  <a class="navbar-brand" href="#">Todo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="goToLogin()">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="goToSignUp()">Sign Up</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" (click)="goToForgotPassword()">Forgot Password?</a>
        </li>
    </ul>
  </div>
</nav>