<app-user-header></app-user-header>
<div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3>Reset Password</h3>
          <hr>
        </div>
        <div class="card-body">
          <form>
            <label for="Password">Password</label>
            <div class="input-group form-group">
              <input type="password" [(ngModel)]="password" name="password" class="form-control"
                placeholder="Enter Password" />
            </div>
            <label for="Password">Re-Type Password</label>
            <div class="input-group form-group">
              <input type="password" [(ngModel)]="password1" name="password1" class="form-control"
                placeholder="Re-Enter Password" />
            </div>
            <div class="form-group">
              <button type="submit" class="btn"  style="background-color:#3B53B9;color:white" (click)="newPasswordReset()">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>