<app-user-header></app-user-header>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Forgot Password</h3>
            <hr class="my-4">
            <h5 class="lead">Please enter the email address for your registered account.</h5>

            <form #resetPwdForm="ngForm" (ngSubmit)="resetPassword()">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Enter email address" name="forgotPasswordEmail" [(ngModel)]="forgotPasswordEmail">
                
                    <button type="submit" class="btn" style="background-color:#3B53B9;color:white">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>