.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .spinner {
    display: block;
  position: fixed;
  z-index: 1031;
  top: 50%;
  right: 50%; /* or: left: 50%; */
  margin-top: 0px; /* have of the elements height */
  margin-right: 10px; /* have of the elements widht */
  }
  
  .example-full-width {
    width: 98%;
  }
  
  .example-half-width {
    width: 48%;
  }
  
  .example-90-width {
    width: 95%;
  }
  
  .strikethrough{
    text-decoration:line-through;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description{
  justify-content: space-between;
  align-items: center;
  }
  
  .mat-icon{
  color: black;
  }
  
  .mat-form-field {
  margin-right: 12px;
  }

  