<app-header></app-header>
<div class="container" *ngIf="!showSpinner">
  <form #todoForm="ngForm" (ngSubmit)="onSubmit(todoForm)" novalidate>
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Add a to-do..."
        name="title"
        [(ngModel)]="title"
        required
      />
      <mat-icon matSuffix>add</mat-icon>
    </mat-form-field>

    <button
      type="submit"
      class="btn btn-primary"
      style="margin-bottom: 2%; background-color: #3b53b9; color: white;"
      [disabled]="!todoForm.form.valid"
    >
      Create Todo
    </button>
  </form>

  <div *ngIf="todoListLength">
    <div style="display: block;"></div>

    <div style="text-align: center;" *ngIf="todoListLength">
      <h5>My Todos</h5>
    </div>

    <div class="row">
      <div
        *ngFor="
          let todo of todoList
            | paginate: { itemsPerPage: 6, currentPage: p1, id: 'first' }
        "
      >
        <div class="col-4">
          <div
            class="card text-muted"
            style="width: 18rem; margin-bottom: 10%;"
          >
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck1"
            />
            <div class="card-header">
              <input
                class="form-check-input float-left checkbox-styles"
                type="checkbox"
                (click)="markComplete(todo.todoId, todo.title)"
              />
              <h4 class="text-center">{{ todo.title }}</h4>
            </div>
            <div class="card-title text-center h6">
              {{ todo.todoDate | date }}
            </div>
            <div class="card-body text-center text-primary">
              <p style="color: #14171a;">{{ todo.description }}</p>
              <button
                type="button"
                class="btn float-left"
                style="border: 1px solid #3b53b9;"
                [routerLink]="['view', todo.todoId]"
              >
                View Details
              </button>
              <button
                type="button"
                class="btn float-right"
                style="background-color: #3b53b9; color: white;"
                (click)="deleteTodo(todo.todoId)"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="todoListLength === 0">
      You haven't added any todos yet.
    </div>

    <pagination-controls
      *ngIf="todoListLength !== 0"
      (pageChange)="p1 = $event"
      id="first"
    ></pagination-controls>
    <hr />

    <button
      type="button"
      class="btn"
      style="margin-bottom: 3%; background-color: #3b53b9; color: white;"
      (click)="show()"
    >
      Show Completed Todos
    </button>

    <div class="row" *ngIf="showCompletedTodoList">
      <div
        *ngFor="
          let todo of completedTodoList
            | paginate: { itemsPerPage: 6, currentPage: p2, id: 'second' };
          let i = index
        "
      >
        <div class="col-4" style="opacity: 0.5;">
          <div
            class="card text-muted"
            style="width: 18rem; margin-bottom: 10%;"
          >
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck1"
            />
            <div class="card-header">
              <input
                class="form-check-input float-left checkbox-styles"
                type="checkbox"
                [checked]="true"
                (click)="markOpen(todo.todoId, todo.title)"
                id="defaultCheck1"
              />
              <h4 class="text-center">{{ todo.title }}</h4>
            </div>
            <div class="card-title text-center h6">
              {{ todo.todoDate | date }}
            </div>
            <div class="card-body text-center text-primary">
              <p style="color: #14171a;">{{ todo.description }}</p>
              <button
                type="button"
                class="btn float-left"
                style="border: 1px solid #3b53b9;"
                [routerLink]="['view', todo.todoId]"
              >
                View Details
              </button>
              <button
                type="button"
                class="btn float-right"
                style="background-color: #3b53b9; color: white;"
                (click)="deleteTodo(todo.todoId)"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showCompletedTodoList && completedTodoListLength === 0">
      You haven't added any completed todos yet.
    </div>
    <pagination-controls
      *ngIf="showCompletedTodoList && completedTodoListLength !== 0"
      (pageChange)="p2 = $event"
      id="second"
    ></pagination-controls>
  </div>
</div>
<div *ngIf="showSpinner">
  <mat-progress-spinner
    class="example-margin spinner"
    [color]="color"
    [mode]="mode"
    [value]="value"
  >
  </mat-progress-spinner>
</div>
