.has-search .form-control {
    padding-left: 2.375rem;
  }
  
  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }

  .nav-css{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
  }

  .navbar-dark .navbar-nav .nav-link{
color: white;
  }

  .name-container{
    padding:0 5px;
    border-right:1px dotted gray;
    color: white
  }

  .name-container:hover{
    color: darkorange;
    cursor: pointer;
  }

  .navbar-dark .navbar-nav .nav-link:hover{
    color: darkorange;
    cursor: pointer;
  }
  
  mat-icon{
    color: white;
  }

  .mat-icon:hover{
    color:darkorange;
    cursor: pointer;
  }

  .my-pagination .ngx-pagination .disabled{
    color: black;
  }